
.jumbotron {
    background: url("https://images.unsplash.com/photo-1567956155799-f074a4568518?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80") no-repeat center center;
    background-size: cover;
    min-height: 60vh;
    color: white;
  }

  .jumbotron h1 {
    font-family: 'Italianno', cursive;
    padding-left: 5%;
    padding-top: 10%;
    font-size: 100px;
    text-align: left;
  }

  .jumbotron p {
    text-align: left;
    vertical-align: bottom;
    font-size: 30px;
    padding-left: 5%;
  }

.board-heading {
    font-family: 'Italianno', cursive;
    font-size: 50px;
    /* background-color: #ecb7bf; */
}

.board-heading p {
    text-shadow: 15px 15px 50px black;
}

.board-card {
    box-shadow: 6px 9px 12px 5px rgba(105,105,105,0.61);
}

.posts-container {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
}

/* .img-hover-zoom { */
    /* overflow: hidden; */
/* } */
  
.img-hover-zoom {
    transition: transform .5s ease;
}
  
.img-hover-zoom:hover {
    transform: scale(1.05);
    z-index: 99 !important;
    position: relative;
    transform-origin: top center;
}